<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>CodePlateau</title>
      <link rel="icon" type="image/x-icon" href="/static/img/code_plateau-67dn.png">
      <link rel="stylesheet" href="/static/css/login.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
  <body>

<div class="wrapper">
    <div class="title">
       Register
    </div>
    <form action="#">
       <div class="field">
          <input type="text" required>
          <label>Full Name</label>
       </div>
       <div class="field">
        <input type="text" required>
        <label>Email Address</label>
     </div>
     <div class="field">
        <input type="text" required>
        <label>Phone Number</label>
     </div>
     <div class="field">
          <input type="password" required>
          <label>Password</label>
     </div>
       
       <div class="field">
          <input type="submit" value="Register">
       </div>
       <div class="signup-link">
        Already a member? <a href="{{url_for('login')}}">Login now</a>
     </div>
     <div class="signup-link">
        Go back to <a href="{{url_for('index')}}">CodePlateau</a>
    </div>
    </div>
    </form>
 </div>

</body>
</html>